<body>
  <div class="center-container">
    <div class="login-container">
      <h1>Log-in</h1>
      <form class="login-form">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email" 
            id="email" 
            placeholder="example@gmail.com" 
            name="email" 
            [(ngModel)]="credentials.username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
            type="password" 
            id="password" 
            placeholder="Example_123" 
            name="password" 
            [(ngModel)]="credentials.password"
            required
          />
        </div>
        <div class="button-container">
          <button type="button" class="login-button" (click)="login()">Sign-in</button>
        </div>
      </form>
      <p *ngIf="errorMessage">{{ errorMessage }}</p> 
    </div>
  </div>
</body>
