.file-handler .button-group {
  display: flex;
  gap: 10px; /* Adjust spacing between buttons */
  margin-top: 10px; /* Add spacing above the buttons */
}


.sort-button {
  margin: 0; /* Remove unnecessary margins */
  padding: 2px 4px; /* Reduce padding to make the button compact */
  font-size: 10px; /* Adjust font size for smaller triangle */
  min-width: unset; /* Override Material default min-width */
  min-height: unset; /* Override Material default min-height */
  line-height: 1; /* Adjust line height for a tighter fit */
}

.clickable-icon {
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color: grey;
}

.clickable-icon:hover {
  color: red; /* Optional hover effect */
}

